package views

templ Head() {
	<head>
		<link rel="stylesheet" href="/static/style.css"/>
		<meta charset="utf8"/>
		<script src="/static/htmx.min.js"></script>
	</head>
}

templ Layout() {
	<html>
		@Head()
		<body class="text-slate-800">
			<div class="w-1/2 mx-auto mt-10">
				{ children... }
			</div>
		</body>
	</html>
}
