@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl;
  font-family: "Noto Kufi Arabic", sans-serif !important;
}

@font-face {
  font-display: block;
  font-family: "Noto Kufi Arabic";
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/NotoKufiArabic-Regular.eot);
  src:
    url(/static/fonts/NotoKufiArabic-Regular.eot?#iefix)
      format("embedded-opentype"),
    url(/static/fonts/NotoKufiArabic-Regular.woff2) format("woff2"),
    url(/static/fonts/NotoKufiArabic-Regular.woff) format("woff"),
    url(/static/fonts/NotoKufiArabic-Regular.ttf) format("truetype");
}
@font-face {
  font-display: block;
  font-family: "Noto Kufi Arabic";
  font-style: normal;
  font-weight: 700;
  src: url(/static/fonts/NotoKufiArabic-Bold.eot);
  src:
    url(/static/fonts/NotoKufiArabic-Bold.eot?#iefix)
      format("embedded-opentype"),
    url(/static/fonts/NotoKufiArabic-Bold.woff2) format("woff2"),
    url(/static/fonts/NotoKufiArabic-Bold.woff) format("woff"),
    url(/static/fonts/NotoKufiArabic-Bold.ttf) format("truetype");
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-50;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-400;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-600;
}
